doctype 5
html(ng-app='alcoholic')
  head
    title Alcoholic UI
    != css('bootstrap')
    != css('application')
    != js('application')
  body
    header
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            a.brand(href='../') I AM NOT ALCOHOLIC
            ul.nav
              li
                a(href='/#') Top Beers
              li
                a(href='#/beers/new') Post a new Beer
            form.navbar-search.pull-right
              input.search-query.span2(type='text', placeholder='Search')

    #main.container
      div(ui-view='body')

    footer.container
      | Made by Alexander Sologub (mostly for fun) <br/>
      | You can contact me via my <a href='mailto:alexsologoub@gmail.com'>Gmail</a> <br/>
      | See you on a Github. My account is <a href='https://github.com/marvelousNinja'>here</a> <br/>
      | 2013
