p {{beer}}

form(ng-submit='saveReview()', ng-show='!reviewPosted')
  input(type='string', ng-model='review.title')
  input(type='string', ng-model='review.content')
  input(type='string', ng-model='review.score')
  button Post review

a(href='/#') Back