form(ng-submit='save()')
  input(type='string', ng-model='beer.name')
  input(type='string', ng-model='beer.manufacturer')
  input(type='string', ng-model='beer.origin_country')
  input(type='string', ng-model='beer.first_brewed_in')
  input(type='string', ng-model='beer.alcohol')
  button(type='submit') Save