h3 Top 250 beers
p Best beers according to non-alcoholics (i.e. our users)
ul.media-list
  li.media(ng-repeat='beer in beers')
    a.pull-left(href='#/beers/{{beer.id}}')
      img.thumbnail.media-object(src='images/beer_thumbnail.jpg')
    h1.pull-right 98
    .media-body.muted
      h4.media-heading: a(href='#/beers/{{beer.id}}') {{beer.name}}
      .row
        .span2 Manufactured by
        .span2 {{beer.manufacturer}}
      .row
        .span2 ABV
        .span2 {{beer.alcohol}}
      .row
        .span2 Origin country
        .span2 {{beer.origin_country}}
      .row
        .span2 First brewed in
        .span2 {{beer.first_brewed_in}}
